<div class="main-containers">
  <h1 class="detail-title">
    Thông tin chi tiết khu vực
  </h1>
  <div class="stadium-container">
    <!-- Ảnh sân vận động -->
    <div class="stadium-image">
      <img [src]="img" alt="Stadium Image" />
    </div>
    <div class="stadium-infor">
      <div class="tournament-header">
        <h1>{{ areaDetail.name }}</h1>
        <button class="btn-tournament" (click)="viewTournament(areaId)">
          <i class="fas fa-trophy"></i> Đặt giải đấu
        </button>
      </div>

      <p class="address">
        <strong>📍 Địa chỉ:</strong> {{ areaDetail.address }}
      </p>
      <p class="description">
        <strong>ℹ️ Mô tả:</strong> {{ areaDetail.description }}
      </p>
      <p><strong>📧 Email:</strong> {{ areaDetail.email }}</p>
      <p><strong>📞 Số điện thoại:</strong> {{ areaDetail.phoneNumber }}</p>
    </div>
  </div>
  <!-- Stadium cards with pagination -->
  <h1 class="section-title mt-5">Các sân bóng trong khu vực</h1>

  <div class="stadium-list">
    <div *ngFor="let stadium of areaDetail.fieldTypeResponseList" class="stadium-card">
      <img [src]="img" alt="ok" />
      <div class="stadium-info">
        <h3>{{ stadium.name }}</h3>
        <p>{{ stadium.description }}</p>
        <div class="rating">
          <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
            <span class="star" *ngIf="i <= stadium.rating">★</span>
            <span class="empty-star" *ngIf="i > stadium.rating">★</span>
          </ng-container>
        </div>
      </div>
      <div class="action-buttons">
        <!-- <button class="btn-map" (click)="openMapWithCoordinates(stadium.latitude, stadium.longitude)">
          <i class="fas fa-eye"></i> Xem bản đồ
        </button> -->
        <button class="btn-detail" (click)="viewDetail(stadium.areaId)">
          <i class="fas fa-info-circle"></i> Đặt ngay
        </button>
      </div>
    </div>
  </div>
  <p></p>
</div>
