<div class="main-containers">
  <h1 class="detail-title">
    Thông tin chi tiết sân bóng
  </h1>
  <div class="stadium-container">
    <!-- Ảnh sân vận động -->
    <div class="stadium-image">
      <img [src]="img" alt="Stadium Image" />
    </div>
    <div class="stadium-infor">
      <h1>{{ stadiumDetail.name }}</h1>
      <p class="address">
        <strong>📍 Địa chỉ:</strong> {{ stadiumDetail.address }}
      </p>
      <p class="description">
        <strong>ℹ️ Mô tả:</strong> {{ stadiumDetail.description }}
      </p>
      <p><strong>📧 Email:</strong> {{ stadiumDetail.email }}</p>
      <p><strong>📞 Số điện thoại:</strong> {{ stadiumDetail.phoneNumber }}</p>
      <div class="booking-options">
        <label class="radio-check">
          <input
            type="radio"
            name="bookingType"
            value="single"
            [(ngModel)]="bookingType"
          />
          Đặt sân lẻ
        </label>
        <label class="radio-check">
          <input
            type="radio"
            name="bookingType"
            value="longTerm"
            [(ngModel)]="bookingType"
          />
          Đặt dài hạn
        </label>
      </div>
      <div>
        <button class="buttonBook" (click)="openDate()">Đặt sân ngay</button>
      </div>
    </div>
  </div>
  <div class="main-container" *ngIf="isPopup">
    <div class="main-container" *ngIf="scheduleData">
      <div style="display: flex; justify-content: space-between; align-items: center;font-size: 20px;margin-bottom: 12px;padding: 0px 10px;">
        <div></div>
        <div style="display: flex; align-items: center; gap: 10px;">
          <button style="background-color: aliceblue;border-radius: 12px;" (click)="changePage(currentPage - 1)" [disabled]="currentIndex === 0">
            ◀ Trước
          </button>
          <h3 style="margin: 0;">
            Từ {{ scheduleData.calender[0] | date: "dd/MM/yyyy" }} đến
            {{ scheduleData.calender[1] | date: "dd/MM/yyyy" }}
          </h3>
          <button style="background-color: aliceblue;border-radius: 12px;" (click)="changePage(currentPage + 1)" [disabled]="currentIndex >= scheduleData.timeFrames.length - 1">
            Tiếp ▶
          </button>
        </div>
        <div></div>
      </div>

      <table>
        <thead>
          <tr>
            <th>Khung giờ</th>
            <th *ngFor="let frame of scheduleData.timeFrames">
              {{ frame.dateString }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tf of getAllTimeFrames()">
            <td>{{ timeFramesMap[tf] }}</td>
            <td *ngFor="let frame of scheduleData.timeFrames">
              <ng-container
                *ngIf="getScheduleForTimeFrame(frame, tf) as schedule"
              >
                <div
                  class="choose-field"
                  [ngClass]="{
                selected: isSelected(schedule, frame.date),
              }"
                  (click)="choose(schedule, frame.date)"
                >
                  {{ schedule.price }} (còn {{ schedule.quantity }} sân)
                </div>
              </ng-container>
              <ng-container *ngIf="!getScheduleForTimeFrame(frame, tf)">
                <span>Không có dữ liệu</span>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="selected-fields-container" *ngIf="selectedFields.length > 0">
        <h3>Danh sách sân đã chọn:</h3>
        <table class="selected-fields-table">
          <thead>
            <tr>
              <th>Thời gian</th>
              <th>Số lượng</th>
              <th>Giá</th>
              <th>Ngày</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let field of selectedFields">
              <td>{{ field.timeFrameStr }}</td>
              <!-- <td>{{ field.quantity }}</td> -->
              <td>
                <input
                  type="number"
                  [(ngModel)]="field.quantity"
                  [min]="1"
                  [max]="field.availableQuantity"
                  (ngModelChange)="onQuantityChange(field)"
                  class="form-control"
                />
              </td>
              <td>{{ field.amount }}</td>
              <td>{{ field.date }}</td>
            </tr>
          </tbody>
        </table>
        <button
          class="payment-btn mt-5"
          (click)="goToPayment()"
          [disabled]="selectedFields.length === 0"
        >
          Đi đến thanh toán
        </button>
      </div>
    </div>
  </div>

  <!-- Stadium cards with pagination -->
  <h1 class="section-title mt-5">Các sân bóng gần đây</h1>

  <div class="stadium-list">
    <div *ngFor="let stadium of paginatedStadiums" class="stadium-card">
      <img [src]="img" alt="ok" />
      <div class="stadium-info">
        <h3>{{ stadium.name }}</h3>
        <p>{{ stadium.address }}</p>
        <!--        <div class="rating">-->
        <!--          <span *ngFor="let star of [].constructor(stadium.rating)">{{ '★★★★' }}</span>-->
        <!--        </div>-->
        <div class="rating">
          <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
            <span class="star" *ngIf="i <= stadium.rating">★</span>
            <span class="empty-star" *ngIf="i > stadium.rating">★</span>
          </ng-container>
        </div>
      </div>
      <div class="action-buttons">
        <button class="btn-map" (click)="openMapWithCoordinates(stadium.latitude, stadium.longitude)">
          <i class="fas fa-eye"></i> Xem bản đồ
        </button>
        <button class="btn-detail" (click)="viewDetail(stadium.areaId)">
          <i class="fas fa-info-circle"></i> Xem chi tiết
        </button>
      </div>
    </div>
  </div>
</div>
<div class="popup-overlay" *ngIf="showLongTermPopup" (click)="closePopup()">
  <div class="popup" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closePopup()">&times;</button>
    <form [formGroup]="longTermForm" (ngSubmit)="onSubmit()">
      <label>Tháng:
        <input type="month" formControlName="month" class="input-label-popup" />
      </label>
      <label>Số lượng sân:
        <input type="number" formControlName="quantity" class="input-label-popup" min="1" />
      </label>
      <label>Ngày trong tuần:
        <select formControlName="weekDay" class="input-label-popup">
          <option *ngFor="let day of daysInWeek" [value]="day.value">{{ day.label }}</option>
        </select>
      </label>
      <label>Khung giờ:
        <select formControlName="timeFrame" [disabled]="!!longTermForm.get('timeFrame')?.disabled">
          <option *ngFor="let time of timeFrames" [value]="time.value">{{ time.label }}</option>
        </select>
      </label>
    </form>
    <div class="terms-container">
      <p>
        Xem các điều khoản của sân:
        <a href="#" (click)="showLongTermPopup = true">Tại đây</a>
      </p>
    </div>

    <div class="button-group">
      <button class="submit" (click)="confirmLongTerm()">Xác nhận</button>
      <button class="cancel" (click)="closePopupLong()">Đóng</button>
    </div>
  </div>
</div>