<div class="container-main">
  <div class="header-main" [ngClass]="{'header-hidden': !isHeaderVisible}">
    <p>Satisfy your sports needs to have the best experience!!!! Booking now ⚽️ ⚽️ ⚽️</p>
  </div>

  <nav class="navbar" [ngClass]="{'navbar-no-header': !isHeaderVisible}">
    <!-- Rest of the navbar remains unchanged -->
    <ul class="navbar-content">
      <!-- Logo và thanh tìm kiếm -->
      <div class="navbar-left">
        <li class="navbar-logo">
          <a [routerLink]="['/']">
            <img src="assets/img/logo-main.png" alt="logo" />
          </a>
        </li>

        <div class="search-bar">
          <input
            type="text"
            [(ngModel)]="searchQuery"
            (input)="onSearch()"
            placeholder="Search for football fields..."
            autocomplete="off" />
          <button (click)="search()">.<i class="fas fa-search"></i></button>
        </div>
      </div>

      <div class="navbar-right">
        <li>
          <i class="fas fa-star icon"></i>
        </li>
        <li class="page">
          <a  [routerLink]="['/booking']" style="font-weight: 700;color: rgb(2, 83, 99);">BOOKING</a>
        </li>
        <li class="page">
          <a  [routerLink]="['/tournament']" style="font-weight: 700;color: rgb(2, 83, 99);">TOURNAMENT</a>
        </li>
        <li class="page">
          <a  [routerLink]="['/aboutUs']" style="font-weight: 700;color: rgb(2, 83, 99);">ABOUT US</a>
        </li>
        <li class="page">
          <a  [routerLink]="['/auth']" style="font-weight: 700;color: rgb(2, 83, 99);">MANAGEMENT</a>
        </li>
        <li class="page" *ngIf="!isLoggedIn">
          <a [routerLink]="['/login']" style="font-weight: 700; color: rgb(2, 83, 99)">LOGIN</a>
        </li>

        <li class="page user-info" *ngIf="isLoggedIn" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
          <a [routerLink]="['/user-profile']">
          <span style="font-weight: 700; color: rgb(2, 83, 99)">
            👤 {{ user?.name || '' }}
          </span>
          </a>
          <ul class="dropdown-menu" *ngIf="showDropdown">
            <li><a [routerLink]="['/orders']">🧾 Lịch sử đơn hàng</a></li>
            <li><a (click)="logout()">🚪 Logout</a></li>
          </ul>
        </li>
      </div>
    </ul>
  </nav>
</div>
