<div class="content-wrapper" style="min-height: 430.4px;">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Area Form</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">General Form</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Area</h3>
            </div>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input formControlName="name" type="name" class="form-control" id="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input formControlName="address" type="address" class="form-control" id="address" placeholder="Enter address">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <input formControlName="description" type="description" class="form-control" id="description" placeholder="Enter description">
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input formControlName="phoneNumber" type="phoneNumber" class="form-control" id="phoneNumber" placeholder="Enter Phone Number">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label>District</label>
                  <select class="form-control" formControlName="district">
                    <option *ngFor="let district of districts" [value]="district.key">
                      {{ district.value }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="files">Upload Files</label>
                  <input type="file" class="form-control" id="files" multiple (change)="onFileSelect($event)">
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>