<p>tournament works!</p>
<p>tournament works!</p>
<p>tournament works!</p>
<p>tournament works!</p>
<p></p>
<div class="main-container">
<table>
  <thead>
  <tr>
    <th>Thời gian</th>
    <th>Sân</th>
    <th *ngFor="let day of weekSchedule">{{ day.day }}</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let slot of weekSchedule[0].timeslots">
    <tr *ngFor="let field of slot.fields; let i = index">
      <!-- Hiển thị thời gian chỉ một lần với rowspan -->
      <td *ngIf="i === 0" [attr.rowspan]="slot.fields.length">{{ slot.time }}</td>
      <td>{{ field.name }}</td>

      <!-- Duyệt qua từng ngày để hiển thị giá và trạng thái -->
      <td *ngFor="let day of weekSchedule">
        <ng-container *ngFor="let timeslot of day.timeslots">
          <ng-container *ngIf="timeslot.time === slot.time">
            <ng-container *ngFor="let f of timeslot.fields">
              <ng-container *ngIf="f.name === field.name">
                <div
                  class="choose-field"
                  [ngClass]="{ 'selected': isSelected(slot.time, field.name, day.day), 'disabled': f.status === 1 }"
                  (click)="f.status !== 1 && choose(slot.time, field.name, f.price, day.day)">
                  {{ f.price }}
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>


<h3>Danh sách sân đã chọn:</h3>
<ul>
  <li *ngFor="let field of selectedFields">
    {{ field.time }} - {{ field.name }} - {{ field.price }} -{{ field.day }}
  </li>
</ul>
<div></div>
  <button class="payment-btn" (click)="goToPayment()" [disabled]="selectedFields.length === 0">
    Đi đến thanh toán
  </button>
</div>
