<div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/']"> <img src="assets/img/logo-main.png" alt="noo" /></a>

      </li>
      <li>
        <a [routerLink]="['/booking']">BOOKING</a>
      </li>
      <li>
        <a [routerLink]="['/tournament']">TOURNAMENT</a>
      </li>
      <li>
        <a [routerLink]="['/aboutUs']">ABOUT US</a>
      </li>
      <li>
        <a [routerLink]="['/auth']">AUTH</a>
      </li>
      <li>
          <a [routerLink]="['/login']">LOGIN</a>
      </li>
    </ul>
  </nav>
</div>
