<div class="main-container" data-aos="fade-down">
  <div class="content" data-aos="fade-down">
    <div class="card-child-1">
      <div class="text-content">
        <h1 style="font-family: Arial, Helvetica, sans-serif;">Expertise</h1>
        <img src="assets/img/content1.png" alt="dfd"  >
        <h3>This is Expertise</h3>
        <p style="padding: 15px">Vietnam has many good players, but sometimes they cannot win together as a
          team" "The ability to control the match and
          balance between attack and defense is something they need to improve."</p>
      </div>
       <div class="card-child-2">
        <div class="card-child-3">
          </div>
       </div>
    </div>
    <div  class="card-child-1">
      <div class="text-content">
        <h1 style="font-family: Arial, Helvetica, sans-serif;">Tournament</h1>
        <img src="assets/img/content2.png" alt="dfd"  >
        <h3>This is Tournament</h3>
        <p style="padding: 15px">The UEFA Champions League is an annual club association football
          competition organised by the Union of European Football Associations. The competition begins with a round robin league phase to qualify for
          the double-legged knockout rounds</p>
      </div>
      <div class="card-child-2">
        <div class="card-child-3">
            <div>
           </div>
          </div>
       </div>
    </div>
    <div  class="card-child-1">
      <div class="text-content">
        <h1 style="font-family: Arial, Helvetica, sans-serif;">Attractive</h1>
        <img src="assets/img/content3.png" alt="dfd"  >
        <h3>This is Attractive</h3>
        <p style="padding: 15px">The competition begins with a round robin league phase to qualify for the
          double-legged knockout rounds, and a single-leg final</p>
      </div>
      <div class="card-child-2">
        <div class="card-child-3">
          <div>
         </div>
         </div>
      </div>
   </div>
      <div class="card-child-1">
        <div class="text-content">
          <h1 style="font-family: Arial, Helvetica, sans-serif;">Fair-play</h1>
          <img src="assets/img/content4.png" alt="dfd"  >
          <h3>This is Fair-play</h3>
          <p style="padding: 15px">The UEFA Champions League is an annual club association
            football competition organised by the Union of European Football
            Associations that is contested by top-division European clubs.
            </p>
        </div>
        <div class="card-child-2">
          <div class="card-child-3">
            <div>
           </div>
          </div>
        </div>
     </div>
   </div>
</div>

