.video-background {
  position: relative;
  width: 100%;
  height: 800px; /* Chiều cao của video */
  overflow: hidden;
  background-image: url('/assets/img/mainImg.png'); /* Đường dẫn tới ảnh của bạn */
  background-size: cover; /* Đảm bảo ảnh bao phủ hết chiều rộng */
  background-position: center; /* Căn giữa ảnh */
  background-repeat: no-repeat; /* Không lặp lại ảnh */
  font-family: "Montserrat", sans-serif;
}

.container-video{
  margin-top: 80px;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Giữ tỷ lệ hình ảnh */
  z-index: -1; /* Đặt video dưới nội dung */
}

.overlay-content {
  position: relative;
  color: #fff;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Nền mờ cho nội dung */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  margin-top: 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(233, 213, 0);
  padding: 30px 130px 30px 130px;
  border: 0px solid;
  font-size: 20px;
  font-weight: 600;
}


button:hover{
  background-color: rgb(255, 238, 55);
  transform: translateY(-10px);
  transition: transform 0.6s ease;
}

h1{
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

/* Định dạng form tìm kiếm */
.search-form {
  display: flex;
  align-items: center; /* Căn giữa các phần tử theo chiều dọc */
  gap: 10px; /* Khoảng cách giữa các phần */
  background: rgba(179, 179, 179, 0.5); /* Nền trong suốt nhẹ */
  padding: 15px;
  border-radius: 15px;
  max-width: 80%;
  height: 70px;
  gap: 0;
}

/* Dropdown chọn */
.search-form select {
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background: white;
  cursor: pointer;
}

/* Nút tìm kiếm */
.search-form button {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #00b4d0;
  color: white;
  border: none;
  cursor: pointer;
  transition: ease 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  margin-bottom: 30px;
  border-radius: 0px 10px 10px 0px;
  transition: ease 0.5s ;
}

.search-form button:hover {
  background-color: #00e2da;

}

/* Icon tìm kiếm */
.search-form button i {
  font-size: 18px;
}

.select-option1{
   height: 60px;
   width: 350px;
   margin: 0;
   color: #11626e;
   font-weight: 700;
}

.select-option2{
  height: 60px;
  width: 350px;
  margin: 0;
  color: #11626e;
   font-weight: 700;
}

.select-option3{
  height: 60px;
  width: 350px;
  margin: 0;
  border-radius: 10px 0px 0px 10px;
  color: #11626e;
   font-weight: 700;
}

.divider {
  border: none;
  height: 10px;
  width: 200px;
  border-radius: 5px;
  background-color: #b5f5ff; /* Màu của vạch */
  margin: 20px auto; /* Khoảng cách trên dưới */
}

.overlay-content p{
  font-size: 20px;
  margin-bottom: 50px
}

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 23px;
  background-color: rgba(0, 0, 0, 0.4); /* Màu nền mờ */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Chiều rộng của modal */
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
